/* Menu.module.css */
:root {
  --primary-color: #BB86FC;
  --background-color: #121212;
  --surface-color: #1F1B24;
  --hover-color: #29233A;
  --text-color: #FFFFFF;
}

/* Estilos Globais */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.header {
  background-color: var(--surface-color);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  width: 100px;
}

.navLinks {
  display: flex;
  list-style: none;
}

.navLinks li {
  margin: 0 15px;
}

.navLinks a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: var(--primary-color);
}

/* Estilo do ícone de hambúrguer */
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: var(--text-color);
  margin: 5px 0;
  transition: transform 0.4s ease;
}

.hamburger.open div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open div:nth-child(2) {
  opacity: 0;
}

.hamburger.open div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Menu deslizante */
.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: var(--surface-color);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 20px;
}

.mobileMenu ul {
  list-style: none;
  padding: 0;
}

.mobileMenu li {
  margin-bottom: 20px;
}

.mobileMenu a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.mobileMenu a:hover {
  color: var(--primary-color);
}

/* Responsividade */
@media (max-width: 768px) {
  .navLinks {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .mobileMenu {
    width: 100%;
  }
}
